
<div class="row">
  <div class="container">
    <div class="col-md-4">
      <div *ngIf="userClaim">
        <h2>{{userClaim.Id}} Hello, {{userClaim.Login}} <span> (it's you)</span></h2>
        <div class="avatar">
          <div class="shadow"></div>
          <img src="{{userClaim.PhotoUser}}" alt="{{userClaim.Login}} photo"/>
        </div>
        <div class="btnsNav">
          <div class="btnsNav__gray btnsNav-link">
            <a href="#" class="">Add new photo</a>
          </div>
          <div class="btnsNav__yellow btnsNav-link">
            <a [routerLink]="['myImages']">All my photos</a>
          </div>
          <div class="btnsNav__darkcyan btnsNav-link">
            <a href="#">My friends</a>
          </div>
          
          <div class="btnsNav__green btnsNav-link">
              <a href="#">Search friends</a>
          </div>
        </div>
       </div>
    </div>
    <div class="allPhotos">
      <div class="col-md-3">
        <div class="allPhotos__block">
          <img src="" alt="" />
        </div>
      </div>
      <div class="col-md-3">
          <div class="allPhotos__block">
            <img src="" alt="" />
          </div>
      </div>
      <div class="col-md-3">
        <div class="allPhotos__block">
          <img src="" alt="" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="allPhotos__block">
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
